
<!--<form action="/users" method="post" accept-charset="UTF-8" >
<input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">
  <div>
  <label>Username:</label> <input type="text" name="username"><br><br>
  <label>Email:</label> <input type="text" name="email"><br><br>
  <label>Password:</label> <input type="password" name="password"><br><br>
  </div>
  <input type="submit" value="Create">
  
</form>-->

<%= form_for @user do |f| %>
  <div>
    <%= f.label 'Username'%>
    <%= f.text_field :username %>
  </div>
  <br>
  <div>
    <%= f.label 'Email'%>
    <%= f.text_field :email %>
  </div>
  <br>
  <div>
    <%= f.label "Password"%>
    <%= f.password_field :password %>
  </div>  <br>
  <div>
    <%= f.submit 'Create' %>
  </div>
<% end %>